@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; Charset=gb2312">
    <meta http-equiv="Content-Language" content="zh-CN">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    @*<title>H_Bolg</title>*@
    <!-- 有些资源用不上，请自行斟酌 -->
    <link rel="stylesheet" href="/lib/layui/css/layui.css">
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/css/site.css">
    <link rel="stylesheet" href="/css/site-animate.css">
    <link rel="stylesheet" href="/css/site-media.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/animate.css/3.5.2/animate.min.css" />
    <link rel="stylesheet" href="/css/blog-pace.css" />
    <script data-pace-options='{ "ajax": false ,"eventLag": false}' src="/js/pace.min.js"></script>
    <script src="/lib/layui/layui.js"></script>
    @*<script src="/js/jquery1.11.js"></script>*@
   
    @RenderSection("styles", false)
</head>
<body>

    @RenderBody()

    @RenderSection("scripts", false)
    <script src="/js/scrollreveal.js"></script>
    <script src="/js/site.js"></script>
</body>
</html>
